* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
}

/* header  */
.container {
    max-width: 1280px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navbar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-transform: capitalize;
    margin-left: 30px;
}

.header .navbar a:hover {
    color: #f55f8d;
}

.header .navbar button {
    border-radius: 30px;
    padding: 20px 35px;
    margin-left: 30px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 15px;
    background-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
}

/* intro  */
.intro {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}
.intro span{
    font-size: 20px;
    color: #f55f8d;
    font-weight: bold;
}
.intro p{
    font-size: px;
    color: black;
    line-height: 50px;
}
.intro h2{
    font-size: 55px;
    font-weight: bold;
}
.intro button {
    margin-top: 30px;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 11px;
    background-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
}
/* services  */
.services{
    margin-top: 100px;
    background-color: #fefefe;

}
.services .content p{
    margin-top: 20px;
    text-align: center;
    color: #f55f8d;
    font-size: 16px;
}
.services .content h2{
    margin-top: 30px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
.services .item{
    margin-left: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ;
}
.services .item p{
    text-align: center;
    font-weight: 500px;
    font-size: bold;
}